---
import Layout from "@shared/layouts/Layout.astro";

import ItemBasicInfo from "@widgets/pageItem/ItemBasicInfo.astro";
import RalatedRadiators from "@widgets/pageItem/RelatedRadiators.astro";

import { itemsJsonData } from "@entities/Item";
import { getItemSeo } from "../../lib/seo/itemSeo";

import type { ItemJson } from "@entities/Item";
import type { RadiatorJson } from "@entities/Radiator";

export async function getStaticPaths() {
  return itemsJsonData.map(item => {
    return {
      params: { item: item.slug },
      props: { item },
    };
  });
}

export type Props = {
  item: ItemJson;
  relatedRadiators: RadiatorJson[];
};
const { item } = Astro.props as Props;
const seo = getItemSeo(item);
---

<Layout
  title={seo.metaTitle}
  description={seo.metaDescription}
  canonicalUrl={seo.canonicalUrl}
  breadcrumbs={seo.breadcrumbs}
>
  <Fragment slot='head'>
    <script type='application/ld+json' set:html={JSON.stringify(seo.jsonLd)} />
  </Fragment>
  <h1 class="text-2xl">{seo.itemTitle}</h1>
  <ItemBasicInfo item={item} />
  <RalatedRadiators itemId={item.id} />
</Layout>
