---
import { Picture } from "@astrojs/image/components";
import { isNonNunnable } from "@shared/utils/isNonNunnable";
import { modelsJsonData } from "@entities/Model";
import type { ModelJson } from "@entities/Model";

type Props = {
  model: ModelJson;
};
const { model } = Astro.props as Props;

const relatedModels =
  model.related_models.length === 0
    ? []
    : model.related_models
        .split(",")
        .map((modelId) => modelsJsonData.find((m) => m.id === modelId))
        .filter(isNonNunnable);
---

{
  relatedModels.length > 0 && (
    <>
      <h2 class='mt-14 mb-1'>Похожие модели</h2>
      <div class='mb-4 font-thin text-xs'>
        Возможно, вас также заинтересуют похожие модели от Velar. В случае, если
        вам потребуется консультация, будем рады помощь с выбором наиболее
        подходящих вариантов.
      </div>
      <div class='flex flex-row flex-wrap items-top gap-8 justify-start'>
        {relatedModels.map((m) => {
          const title = `${m.prefix} Velar ${m.name}`;
          const imgPath = model.type !== 'columns' // TODO: remove columns type hack
          ? `/images/models/${m.slug}/main.jpg`
          : `/images/models/columns/main${m.slug[0]}.jpg`
          const modelHref = `/model/${m.slug}`;

          return (
            <div class='group w-52 mx-auto sm:mx-0'>
              <a href={modelHref}>
                <Picture
                  src={imgPath}
                  alt={title}
                  title={title}
                  loading='lazy'
                  aspectRatio='1:1'
                  widths={[260, 400]}
                  width={260}
                  height={260}
                  sizes='260px'
                  class='rounded-lg opacity-100 md:opacity-50 group-hover:opacity-100 transition-opacity duration-300'
                />
                <div class='text-xs mt-2 group-hover:text-red-600 transition-colors duration-300'>
                  {title}
                </div>
              </a>
            </div>
          );
        })}
      </div>
    </>
  )
}
